src/main/mule/jenkins24.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="be7529ab-9ea0-4684-84ab-1087bad7b402" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins24Flow" doc:id="44bb00aa-3378-4ee0-99d9-e8c94d284902" >
		<http:listener doc:name="Listener" doc:id="24e62692-a253-447e-b139-67154053912a" config-ref="HTTP_Listener_config" path="/jenkins24"/>
		<logger level="INFO" doc:name="Logger" doc:id="793fd3a7-a981-4284-b97f-c1ec3970d9d4" message="#[payload]"/>
	</flow>
</mule>
